*{
    box-sizing: border-box;
}

 main{
    background-color: #e3e3e3;
}

body > *:not(main,header,.flex-btn-div,footer) {
    grid-column: 2;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

    