.gallery-layout{
    display: grid;
    grid-template-columns: repeat(4,minmax(180px,1fr));
    gap: 10px;
}

.header-layout{
    display: flex;
    justify-content: space-between;
}

.body-layout{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

.body-layout > *:not(.header-layout){
    grid-column: 2;
}

.button-canvas-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

