.gallery-layout{
    display: grid;
    grid-template-columns: repeat(4,minmax(180px,1fr));
    gap: 10px;
}

.header-layout{
    display: flex;
    justify-content: space-between;
}

.body-layout > *:not(.header-layout,.footer-layout){
    grid-column: 2;
}

.button-canvas-container{
    display: grid;
}

