@media (max-width: 750px) {
    body {
        overflow-x: hidden;
    }

    .main-nav {
        overflow: hidden;
        background-color: #9c9999;
        position: relative;
        max-width: 160px;
        min-width: 40px;
    }

    #my-links {
        display: none;
    }

    .gallery-layout {
        grid-template-columns: repeat(2, minmax(80px, 1fr));
        gap: 10px;
    }

    .main-menu a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .main-nav a.icon {
        background: #e3e3e3;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-nav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        background-color: #8f8989;
        color: white;
        display: block;
    }

    .header-layout {
        width: 100%;
        grid-column: 1/-1;
    }

    .footer-layout .logo {
        width: 30px;
    }

    .body-layout {
        display: grid;
        grid-template-columns: 10px 1fr 10px;
    }

    .button-canvas-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .button-container {
        grid-column: 1;
        width: 80%;
    }

    #canvas-container {
        grid-row: 1;
    }

    .body-layout>*:not(.header-layout, .footer-layout) {
        grid-column: 2;
    }

    .footer-layout {
        grid-column: 1/-1;
        width: 100%;
    }

    .footer-layout .logo {
        font-size: 2em;
    }

    .header-layout .logo {
        font-size: 2em;
        margin-left: 2em;
    }

    .button-container {
        margin-left: 13em;
        margin-bottom: 1em;
    }

    .logo-footer {
        font-size: 2em;
    }

    .button-container {
        margin-left: 2.7em;
        margin-top: 0;
    }

}

@media (min-width: 750px) {
    body {
        overflow-x: hidden;
    }

    .main-nav a.icon {
        display: none;
    }

    .gallery-layout {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        gap: 10px;
    }

    .body-layout {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        text-align: center;
    }

    .body-layout>*:not(.header-layout, .footer-layout) {
        grid-column: 2;
        min-width: 80%;
    }

    .footer-layout {
        grid-column: 1/-1;
        width: inherit;
    }

    .button-canvas-container {
        grid-template-columns: 1fr;
        min-width: 80%;
    }

    .header-layout {
        height: 9.125em;
    }
}

@media (min-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .gallery-layout {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
        gap: 10px;
    }

    .main-nav a.icon {
        display: none;
    }

    .body-layout {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        text-align: center;
    }

    .body-layout>*:not(.header-layout, .footer-layout) {
        grid-column: 2;
    }

    .footer-layout {
        grid-column: 1/-1;
        height: 12.9375em;
    }

    .button-canvas-container {
        grid-template-columns: 1fr 1fr;
    }

    .header-layout {
        height: 7.125em;
    }

}