@media (max-width: 750px) {
    body {
        overflow-x: hidden;
    }

    .gallery-layout {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        gap: 10px;
    }

    .body-layout{
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        text-align: center;
    }

    .button-canvas-container {
        grid-template-columns: 1fr;
    }

    .button-container {
        grid-column: 1;
        height: 100%;
    }

    #canvas-container {
        grid-row: 1;
        width: 100%;
        height: 100%;
    }

    .body-layout>*:not(.header-layout) {
        grid-column: 2;
    }

    .footer-layout {
        grid-column: 1/-1;
        width: inherit;
    }
}

@media (min-width: 750px) {
    body {
        overflow-x: hidden;
    }

    .gallery-layout {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        gap: 10px;
    }
    .body-layout{
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        text-align: center;
    }

    .body-layout>*:not(.header-layout) {
        grid-column: 2;
    }

    .footer-layout {
        grid-column: 1/-1;
        width: inherit;
    }
}

@media (min-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .gallery-layout {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
        gap: 10px;
    }

    .body-layout{
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        text-align: center;
    }

    .body-layout>*:not(.header-layout, .footer-layout) {
        grid-column: 2;
    }

    .footer-layout {
        grid-column: 1/-1;
        width: inherit;
    }
}