button img {
    width: 35px;
    height: 35px;
}

.upload,
.download {
    width: 7.5em;
    height: 3.75em;
    border-radius: 12px;
    background-color: #ff7f00;
    color: white;
}

.upload-download{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    place-self: center;
}