.header-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.125em;
    background-color: #ff7f00;
    grid-column: 1 / -1;
}

.logo{
    font-size: 3em;
    width: 8.3125em;
    height: 1.375em;
    margin-left: 4em;
}

.main-menu {
    width: 20em;
    list-style: none;
    margin-right: 18em;
}

.main-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 40px 40px;
    font-size: 1.3em;
}

.main-menu a:hover{
    color: black;
}

.main-menu{
    display: flex;
    grid-auto-flow: column;
}