.modal{
    border: solid 3px rgb(0, 0, 0);
    width: 100px;
    height: 400px;
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 200px;
    left: calc(50% - 800px);
    cursor: pointer;
  }