/* basics */

@import 'basics/layout.css';
@import 'basics/base.css';

/* components */

@import 'components/footer.css';
@import 'components/gallery.css';
@import 'components/header.css';
@import 'components/helpers.css';
@import 'components/buttons.css';
@import 'components/canvas.css';
@import 'components/images.css';

/* setup */

/* @import 'setup/mq.css' Not completed-has bugs  */